* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* menyembunyikan scroll */
*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: rgb(215, 215, 215);
}

.nav {
  position: fixed;
  top: 0;
}

nav {
  background-color: transparent;
}

nav a {
  float: left;
}

ul {
  justify-content: center;
  padding: 21px;
}

a {
  text-decoration: none;
  list-style: none;
  list-style: none;
  padding: 20px;
  /* margin: 20px;  */
  text-align: center;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
}

li:hover, a:hover {
    color: #fff;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100vh;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  scroll-snap-align: center;
}

.page-number {
  height: 100px;
  position: relative;
  /* bottom: -300px; */
}

.one {
  /* background: #ffb7ac */
  background: #83d764;
}
.two {
    /* background: #fb8886 */
    background: #f8be36;
}

.three {
  /* background: #e3d863 */
  background: #797ef6;
}

.four {
  /* background: #f1b43b */
  background: #f17a7e;
}

.kiri1, .kanan1, .kiri2, .kanan2, .kiri3, .kanan3 {
    width: 50%;
}

.three-header {
    border: 1px solid black;
}